#以下のfileを除外

x64/
lib/fbx_sdk/include/libxml2/libxml/xmlschemastypes.h
lib/fbx_sdk/include/libxml2/libxml/xmlschemas.h
lib/fbx_sdk/include/libxml2/libxml/xmlsave.h
lib/fbx_sdk/include/libxml2/libxml/xmlregexp.h
lib/fbx_sdk/include/libxml2/libxml/xpointer.h
lib/fbx_sdk/include/libxml2/libxml/xpathInternals.h
lib/fbx_sdk/include/libxml2/libxml/xpath.h
lib/fbx_sdk/include/libxml2/libxml/xmlwriter.h
lib/fbx_sdk/include/libxml2/libxml/xmlwin32version.h
lib/fbx_sdk/include/libxml2/libxml/xmlversion.h
lib/fbx_sdk/include/libxml2/libxml/xmlunicode.h
lib/fbx_sdk/include/libxml2/libxml/xmlstring.h
lib/fbx_sdk/include/libxml2/libxml/valid.h
lib/fbx_sdk/include/libxml2/libxml/uri.h
lib/fbx_sdk/include/libxml2/libxml/tree.h
lib/fbx_sdk/include/libxml2/libxml/xmlreader.h
lib/fbx_sdk/include/libxml2/libxml/xmlmodule.h
lib/fbx_sdk/include/libxml2/libxml/xmlmemory.h
lib/fbx_sdk/include/libxml2/libxml/xmlexports.h
lib/fbx_sdk/include/libxml2/libxml/xmlerror.h
lib/fbx_sdk/include/libxml2/libxml/xmlautomata.h
lib/fbx_sdk/include/libxml2/libxml/xmlIO.h
lib/fbx_sdk/include/libxml2/libxml/xlink.h
lib/fbx_sdk/include/libxml2/libxml/xinclude.h
lib/fbx_sdk/include/libxml2/libxml/list.h
lib/fbx_sdk/include/libxml2/libxml/HTMLtree.h
lib/fbx_sdk/include/libxml2/libxml/HTMLparser.h
